.progress-outer {
  width: 100%;
  margin: auto;
  padding: 3px;
  text-align: center;
  background-color: #cfdae3;
  border: none;
  color: #fff;
}

.progress-inner {
  //min-width: 15%;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  background-color: #fff;
}
