<ng-template #results let-meals="items">
  <ion-list>
    <ion-item *ngFor="let meal of meals">
      <!-- thumbnails -->
<!--      <ion-avatar slot="start">-->
<!--        <ion-slides slidesPerView="1" autoplay="1" loop="1">-->
<!--          <ion-slide *ngFor="let t of meal.type">-->
<!--            <ion-img [src]="iconHashmap[t]"></ion-img>-->
<!--          </ion-slide>-->
<!--        </ion-slides>-->
<!--      </ion-avatar>-->

      <!-- title -->
      <ion-label slot="end">
        <span>
          {{ meal.title }}
        </span>
        <h1>
          {{ meal.description }}
        </h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ng-template>

<div padding>
  <ion-segment [(ngModel)]="canteen" (ngModelChange)="canteenChanged($event)">
    <ion-segment-button value="Mensa">
      Mensa Griebnitzsee
    </ion-segment-button>
    <ion-segment-button value="Ulfs">
      Ulfs Café
    </ion-segment-button>
  </ion-segment>
</div>

<results [items]="canteen == 'Mensa' ? meals.mensa : meals.ulf"
         [template]="results"></results>
