#transport-bar {
  background-color: var(--ion-color-upgrey);

  ion-badge {
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-primary);
    margin-right: 2%;
    .badge-icon {
      font-size: 2em;
    }

    .badge-text {
      font-size: 2em;
    }
  }
  .Center-Container {
  position: relative;
  height: 100%;
}
}
