<div class="rooms-free-wrapper">
  <div id="now" style="width: 100%;">
    <ion-card>
      <ion-card-header color="primary" class="title">
        {{ "words.now" | translate }}
        (
        {{ moment(timerService.timeslots.now.begin).format('HH:mm') }} -
        {{ moment(timerService.timeslots.now.end).format('HH:mm') }}
        )
      </ion-card-header>
      <ion-card-content>
        <results [items]="rooms['now']" [template]="freeRoomsTemplate"></results>
      </ion-card-content>
    </ion-card>
  </div>
  <div id="soon" style="width: 100%;">
    <ion-card>
      <ion-card-header color="primary" class="title">
        {{ "words.soon" | translate }}
        (
        {{ moment(timerService.timeslots.soon.begin).format('HH:mm') }} -
        {{ moment(timerService.timeslots.soon.end).format('HH:mm') }}
        )
      </ion-card-header>
      <ion-card-content>
        <results [items]="rooms['soon']" [template]="freeRoomsTemplate"></results>
      </ion-card-content>
    </ion-card>
  </div>
</div>


<ng-template #freeRoomsTemplate let-rooms="items">
  <ion-list>
    <ion-item *ngFor="let room of rooms">
      <div class="list-item">
        {{ "words.room" | translate }}
        {{ room }}
      </div>
    </ion-item>
  </ion-list>
</ng-template>

