<div class="rooms-free-wrapper">
  <div id="now" style="width: 100%;">
    <ion-card>
      <ion-card-header color="primary" class="title">
        {{ 'now' | timeslot }}
      </ion-card-header>
      <ion-card-content>
        <results [items]="rooms['now']" [template]="freeRoomsTemplate"></results>
      </ion-card-content>
    </ion-card>
  </div>
  <div id="soon" style="width: 100%;">
    <ion-card>
      <ion-card-header color="primary" class="title">
        {{ 'soon' | timeslot }}
      </ion-card-header>
      <ion-card-content>
        <results [items]="rooms['soon']" [template]="freeRoomsTemplate"></results>
      </ion-card-content>
    </ion-card>
  </div>
</div>


<ng-template #freeRoomsTemplate let-rooms="items">
  <ion-list>
    <ion-item *ngFor="let room of rooms">
      <div class="list-item">
        {{ room | roomName }}
      </div>
    </ion-item>
  </ion-list>
</ng-template>

