<ng-template #roomReservationsTemplate let-reservations="items" let-options="options">
  <ion-card *ngIf="config.general.interactiveMode">

  </ion-card>

  <ion-card *ngIf="!config.general.interactiveMode">
    <ion-card-header color="primary" class="title">
      {{ "words."+options.when | translate }}
      (Ab {{ moment(timerService.timeslots[options.when].begin).format('HH:mm') }} {{ "words.oclock" | translate }})
    </ion-card-header>
    <ion-card-content>
      <ion-grid >
        <ion-row id="headers" class="list-item">
          <ion-col col-2>
            {{ "page.rooms-reserved.time" | translate }}
          </ion-col>
          <ion-col col-2>
            {{ "page.rooms-reserved.room" | translate }}
          </ion-col>
          <ion-col col-auto>
            {{ "page.rooms-reserved.reservation_title" | translate }}
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let reservation of reservations" class="list-item">
          <ng-container>
            <ion-col col-2>
              {{ moment(reservation.startTime).format("LT") }} - {{ moment(reservation.endTime).format("LT") }}
            </ion-col>
            <ion-col col-2>
              {{ reservation.roomList.room }}
            </ion-col>
            <ion-col col-auto>
              {{ reservation.veranstaltung }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ng-template>

<ng-container *ngFor="let slot of keys(reservedRooms)">
  <results [items]="reservedRooms[slot]"
           [options]="{when: slot}"
           [template]="roomReservationsTemplate"></results>
</ng-container>
