body {
    zoom: 2;
}


tr td em {
    font-style: normal;
    font-weight: bold;
    color: #AA0000;
}

.table tbody > tr > td {
    line-height: 0.6;
}

h2 {
    font-size: 15px;
}

.navbar {
    display: none;
}

.free-rooms {
    left: 0;
    right: 0;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
}

.progress {
    height: 5px;
    margin-bottom: 1px;
}

.reservation .room {
    display: inline-block;
    margin-right: 5px;
}

.reservation .info {
    display: inline-block;
    margin-right: 5px;
    font-weight: 700;
}

.reservation .person {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
}

.reservation .time {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
}

.container {
    width: 100%;
}