html, body {
    height:100%;
    overflow:hidden;
}

tr td em {
    font-style: normal;
    font-weight: bold;
    color: #AA0000;
}

.page-headline {
    width: 100%;
    display: block;
    padding: 5px;
}

.navbar {
    display: none;
}

.free-rooms {
    left: 0;
    right: 0;
    font-size: 200%;
    bottom: 0;

    background-color: #fff;
    position: fixed;
    padding-bottom: 10px;
    padding-left:5px;
    padding-right:5px;
    -webkit-box-shadow: 0px -4px 3px -2px rgba(171,171,171,1);
	-moz-box-shadow: 0px -4px 3px -2px rgba(171,171,171,1);
	box-shadow: 0px -4px 3px -2px rgba(171,171,171,1);
}

.free-rooms h2 {
    text-transform: uppercase;
    color: #014260;
    font-weight: bold;
    font-size: 2em;
}

.btn.btn-success {
	border-radius:0;
	border-width:0;
    width: 120px;
    height: 70px;
    font-size: 1.5em;
    line-height: 60px;
    margin: 3px;
}

.btn-xlarge {
    padding: 10px 10px;
    font-size: 40px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    margin-right: 20px;
}

.badge {
    vertical-align: middle;
    font-size: 30px;

}

.btn .badge {
    top: -2px;
    left: 5px;
}

.progress {
    height: 15px;
    margin-bottom: 0px;
    border-radius: 0px;
}

.progress-bar-info {
	background-color:#d0dae3;
}

.reservation {
    border-top: 1px solid #dddddd;
    padding: 2px;
    font-size: 2.5em;
    padding-top: .3em;
    padding-bottom: .3em;
}

.reservation .room {
    display: inline-block;
    margin-right: 5px;
}

.reservation .info {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 85px;
    font-weight: 700;
}

.reservation .person {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.8em;
    font-weight: normal;
}

.reservation .time {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
    font-weight: normal;
}

.reservation strong.pull-right {
    background: #d0dae3;
    padding:.05em;
}

.container{
    width: 100%;
}

#mainframe {
    overflow: hidden;
}

.js_news {
    position: absolute;
    top: 113px;
    bottom: 11px;
    height: 100%;
}

.news-title {
    padding: 5px;
    background-color: #fff;
    opacity:.9;
    font-size: 2.5em;
    max-width: 80%;
    display: block;
    color:#014260;
    border:5px solid #d0dae3;
    max-height: 200px;
    bottom: 10px;
    right: 10px;
    position: absolute;

}

.news-container.is-highlighted:after {
    content:".";

    background-image:url(../img/marker.svg);
    background-repeat:no-repeat;
    height:100%;
    display:block;
}

.news-container {
    border-top: 10px solid #014260;
    position: relative;
    overflow: visible;
}

.row-fluid {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img-responsive{
    margin:0 auto
}

.news-td {
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    outline: 1px solid #fff;
}

.reservation:nth-child(odd) {
    background-color: #f9f9f9;
}

.reservation:nth-child(even) {
    background-color: #ffffff;
}

.bandClock {
    position:absolute;
    right: 5px;
    top: 0px;
    z-index:600;
}

.bandClock canvas {
    border-radius: 50%;
}

.tweets {
    text-align: center;
}

.next-local-traffic {
    display: block;
    padding-top: 5px;
    margin-top: 5px;
}

.next-local-traffic h3 {
	margin-top:10px;
	margin-bottom:0;
	font-size: 1.5em;
	color:#014260;
	text-transform:uppercase;
	font-weight:bold;
}

.next-local-traffic span {
	background-color:#fff;
}

/* Nahverkehr */

.js_journeys_tbody {
	font-size:1.3em;
}

.js_journeys_tbody td {
	line-height: 1.8em !important;
}

th.js_journeys_headline  {
	font-size:3em !important;
	color:#fff;

    text-transform:uppercase;
	text-align:left;
	background:#014260;
	height:2.3em;
	line-height:1;
	padding:0 0 0 10px !important;
	vertical-align:middle !important;
}

.js_journey_name {
	font-weight:bold;
	font-size:2em;
	color:#014260;
	line-height:1.2;
	margin-bottom:0;
    width: 20%;
}

.js_journey_direction {
    font-weight:bold;
    font-size: 2em;
    color:#014260;
    line-height:1.2;
    margin-bottom:0;
}

.js_journey_time_relative {
	text-align:center;
}

.js_journey_time_relative, .js_journey_time_absolute {
	font-size: 2em;
	font-weight: bold;
	color: #014260;
}

.js_journey_name, .js_journey_time_absolute {
    color:#696969;
}
.js_journey_name.Bus {
	background-image:url(../img/bus.png);
	background-repeat:no-repeat;
    background-position:10px center;
    text-align: center;
    padding-left: 65px;
}

.js_journey_name.S {
	background-image:url(../img/sbahn.png);
	background-repeat:no-repeat;
    background-position:10px center;
    text-align: center;
    padding-left: 65px;
}

.js_journey_name.RB {
	background-image:url(../img/regio.png);
	background-repeat:no-repeat;
	background-position:10px center;
    text-align: center;
    padding-left: 65px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.table > tbody > tr > td {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* NEWS */

.js_body {
    width: 100%;
}

.page-headline {
	padding:0;
}

.js_headline, .js_news_headline, .js_tweets_headline, .js_ads_headline, .js_journeys_headline{
	display:block;
	width:100%;
	font-size:3em !important;
	color:#fff;

	text-transform:uppercase;
	text-align:left;
	background:#014260;
	height:2.3em;
	line-height:2.3em;
	margin:0;
	padding:0 0 0 10px !important;
	vertical-align:middle !important;
}

.twitter-timeline {
    display:inline !important;
    height: 2000px !important;
    transform: scale(1.6);
    transform-origin: top;
}

.advertise h1 {
	color:#014260;
	font-weight:bold;
	line-height:1;
	margin:.5em .1em 0 .1em;
	font-size:3em;
}

.advertise h2 {
	margin:0em .1em .3em .2em;
	color:#999;
	font-weight:bold;
}

.advertise p {
	width:96%;
	margin:0 auto;
	font-size:1.2em;
	line-height:1.8em;
}

.advertise strong {
	font-weight:bold;
	color:#014260;
	font-size:1.5em;
}


/* Twitter */

.footer.customisable-border {
    display:none !important;
}

.footer.customisable-border .tweet-actions {
    display:none !important;
}

.footer.customisable-border .tweet-actions li {
    text-indent:-540000px;
}

body.is-switched-off {
    visibility: hidden;
    background-color: #000;
}