body {
    zoom: 2;
}


tr td em {
    font-style: normal;
    font-weight: bold;
    color: #AA0000;
}

.table tbody > tr > td,
.table thead > tr > th {
    padding: 2px;
    /*line-height: 0.6;*/
}

.table tbody > tr > td {
    /*line-height: 0.6;*/
}

.page-headline {
    font-size: 15px;
    border-bottom: 2px solid #dddddd;
    width: 100%;
    display: block;
    padding: 5px;
}

h2 {
    font-size: 15px;
}

.navbar {
    display: none;
}

.free-rooms {
    left: 0;
    right: 0;
    padding-bottom: 10px;
    position: fixed;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
}

.progress {
    height: 5px;
    margin-bottom: 1px;
}

.reservation {
    border-top: 1px solid #dddddd;
    padding: 2px;
}

.reservation .room {
    display: inline-block;
    margin-right: 5px;
}

.reservation .info {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 50px;
    font-weight: 700;
}

.reservation .person {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.8em;
    font-weight: normal;
}

.reservation .time {
    display: inline-block;
    margin-right: 5px;
    font-size: 0.8em;
    font-weight: normal;
}

.container {
    width: 100%;
}
.js_journeys_current_time {

}

.js_news {
    position: absolute;
    top: 5px;
    bottom: 11px;
    height: 100%;
}

.news-title {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    background-color: #fff;
    opacity: 0.95;
    outline: 1px solid #000;
    max-width: 60%;
}

.news-td {
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.reservation:nth-child(odd) {
    background-color: #f9f9f9;
}

.reservation:nth-child(even) {
    background-color: #ffffff;
}