body {
    height: 240px;
    overflow: hidden;
}

.container.current-content {
    position: fixed;
    top: 0;
    left: 6px; /* 6px wegen schwarzem Rand */
    width: 570px;  /* 576-6px wegen schwarzem Rand */
    margin: 0;
    padding: 0;
    height: 240px;
}

.container.current-content .row {
    margin: 0;
}

.progress,
.current-time,
.free-rooms {
    display: none;
}

.local-traffic {
    position: fixed;
    left: 576px;
    top: 0;
    width: 186px; /* 192px-6px wegen schwarzem Rand */
    height: auto;
    padding: 1px;
    font-size: 14px;

}

/* Nahverkehr */

.js_journeys_tbody {
    font-size:1.3em;
}


th.js_journeys_headline  {
    font-size: 1em !important;
    color:#fff;
    text-transform:uppercase;
    text-align:left;
    background:#014260;
    height:2.3em;
    line-height:1;
    padding:0 0 0 10px !important;

}

.js_journeys_tbody tr td {

    min-height:50px;

}

.journey_dir_platf {
    width:20em;
}

.js_journey_platform {
    display: none;
}

.js_journey_direction, .js_journey_name {
    font-weight:bold;
    font-size:0.5em;
    color:#014260;
    line-height:1.2;
    margin-bottom:0;

}

p.js_journey_direction {
    max-width: 80%;
    padding-top:5px;
    padding-left:5px;
}

td.js_journey_time_absolute {
    display: none;
}

.js_journey_time_relative {
    text-align:left;
    font-size:0.5em;

}
td.js_journey_time_relative {
    line-height:1.2 !important;
    width:730px;
    padding-top:5px !important;
}
.js_journey_time_relative:after {
    content: ".";
    display: block;
    font-size: 0;
}

.js_journey_time_relative {
    font-size:0.5em;
    font-weight:bold;
    color:#014260;
}

.js_journey_name.Bus {
    background-image:url(../img/bus.png);
    line-height: 1.3 !important;
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position:8px 4px;

    width: 210px;
    text-align:center;
    padding-top:25px;
    text-indent:0;
}

.js_journey_name.S {
    background-image:url(../img/sbahn.png);
    line-height: 1.3 !important;
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position:8px 4px;

    width: 210px;
    text-align:center;
    padding-top:25px;
    text-indent:0;
}

.js_journey_name.RB {
    background-image:url(../img/regio.png);
    line-height: 1.3 !important;
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position:8px 4px;

    width: 210px;
    text-align:center;
    padding-top:25px;
    text-indent:0;
}

.js_page .js_body {
    width: 570px;
    height: 208px;
    overflow: hidden;
}

.js_news {
    width: 570px;  /* 576-6px wegen schwarzem Rand */
    height: 207px;
    top: 33px;
    position: fixed;
    bottom: 0;
    left: 6px;
}

.news-title {
    font-size: 1em;
    border: 1px solid #d0dae3;
    max-height: 104px;
}

.news-container {
    border: 0;
}

.js_headline, .js_news_headline, .js_tweets_headline, .js_ads_headline {
    font-size: 1em !important;
}