<ng-template #roomReservationsTemplate let-reservations="items" let-options="options">
  <ion-card>
    <ion-card-content>
      <ion-grid >
        <ion-row id="headers" class="list-item">
          <ion-col col-2>
            {{ "page.lectures.time" | translate }}
          </ion-col>
          <ion-col col-2>
            {{ "page.lectures.room" | translate }}
          </ion-col>
          <ion-col col-auto>
            {{ "page.lectures.reservation_title" | translate }}
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let reservation of reservations" class="list-item">
          <ng-container>
            <ion-col col-2>
              {{ moment(reservation.startTime).format("LT") }} - {{ moment(reservation.endTime).format("LT") }}
            </ion-col>
            <ion-col col-2>
              {{ reservation.roomList.room }}
            </ion-col>
            <ion-col col-auto>
              {{ reservation.veranstaltung }}
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ng-template>

<ion-segment [(ngModel)]="selectedTimeslot">
  <ion-segment-button *ngFor="let timeslot of config.lectures.timeslots; let i = index" [value]="timeslot">
    {{ timeslot | timeslot }}
  </ion-segment-button>
</ion-segment>

<results [items]="reservedRooms[selectedTimeslot]"
         [options]="{when: selectedTimeslot}"
         [noResultsHint]="'page.lectures.no_lectures'"
         [template]="roomReservationsTemplate"></results>
