// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// custom icon mask, just use it like a normal ion-icon
// <ion-icon name="custom-moodle"></ion-icon>
body {
  position:absolute;
 
}

ion-icon {
  &[class*="custom-"] {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    width: 1em;
    height: 1em;
  }


  &[class*="custom-bus"] {
    background-image: url(../assets/icon/bus.svg);
  }

  &[class*="custom-sbahn"] {
    background-image: url(../assets/icon/s-bahn.svg);
  }

  &[class*="custom-bahn"] {
    background-image: url(../assets/icon/bahn.svg);
  }

}

a {
  pointer-events:none;
}

ion-header {
  position:relative;
  height:1px;
  overflow: visible;

  
    ion-navbar {
    
    }
  

  .toolbar-md {
    padding:0
  }

  .toolbar-background {
    position: relative;
  }

  .toolbar-content-md {
    min-width:auto;
  }

  #info-container {
    position:relative !important;
    display:block !important;
  }

  header-menu #menu-container {
    overflow-y:hidden;
  }
}

.content, .content-md {
 
  width: 1200px;
  max-width: 100%;
  min-width: 980px;
  margin: 0 auto;
  margin-top:400px;
}


.button-md {
  box-shadow:none;
  border-radius:0;
}


.scroll-content {
  overflow-y: auto;
}


.centered {
  text-align: center;
}

.centered-img {
  margin-left: auto;
  margin-right: auto;
}

.animated.swiper-slide {
  color: red !important;
}

.swiper-slide-active {
  color: red !important;
}

.marquee {
    width: 100%;
	line-height: 20px;
	background-color: color($colors, upgrey);
    color: color($colors, primary);
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    font-size: 1.5em;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
