ion-header ion-navbar.toolbar {
  display:block;
}

.header-md::after {
  background-image:none;
}

header-menu {

  display: flex;
  flex-direction: column;

  #info-container {
    order: 0;
    display: flex;

    #building-name {
      float: left;
      background-color: #ededed;
      padding-left: 2em;      
      padding-right: 2em;

      h1 {
        margin-top: .3em;
        color:#003f60;
      }
    }

    #time {
      width: 50%;
      float: right;
      text-align: right;
    }

    #button-settings {
      order: 2;
      background-color:#cfdae3;
      box-shadow: 0 0px 0px 0 #00000024, 0 0px 0px 0px #0003, 0 0px 0px 0 #0000001f;
      color:#003f60;
      margin-top:0;
    }
  }

  #menu-container {
    order: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top:50px;

    #loading-bar {
      order: 0;
    }

    #page-switcher-container {
      width: 100%;
      display:flex;
      order:1;
      flex-wrap: nowrap;
      justify-content: flex-start;
      position:relative;

      #button-previous {
        order: 0;
        position:absolute;
        left:0;
        margin: 2rem 0.2rem;

      }

      #slides-container {
        order: 1;
        padding: 10px 50px 10px 50px;
      }

      #button-next {
        order: 2;
        position:absolute;
        right:0;
        margin: 2rem 0.2rem;

      }
      .color-change{
        background-color: darkgreen;

      }

      .slide-zoom {
        color: #aaaaaa;
      }

      .swiper-slide-active .slide-zoom {
        color: color($colors, primary);
      }
    }
  }

  .swiper-slide-active {
    font-weight: bolder;

    color: color($colors, primary);
  }

  .swiper-slide-duplicate-active {
    color: color($colors, primary);
    font-weight: bolder;
  }
}

page-switcher-loading-bar {
  .progress-outer {
    width: 100%;
    margin: auto;
    padding: 3px;
    text-align: center;
    background-color: #cfdae3;
    border: none;
    color: #fff;
  }

  .progress-inner {
    //min-width: 15%;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    background-color: #fff;
  }
}

#up_header_wrapper {
  position: relative;
  min-height: 180px;
  background-color: #ededed;
}

#up_header_wrapper #up_section_indicator_left {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  background-color: #004260;
  float: left;
  min-height: 1px;
  padding: 0 15px;
  width: 33.33333%;
}

#up_header, #info-wrapper {
  width: 1200px;
max-width: 100%;
min-width: 980px;
margin: 0 auto;
}

#up_header:before {
  content: " ";
  display: table;
}


.twentyfour {
  width: 100%;
  float: left;
min-height: 1px;
padding: 0 15px;
position: relative;

}

.row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -15px;
}

.row::before {
  content: " ";
  display: table;
}

.eight {
  width: 33.33333%;
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}

.eight:after {
  clear: both;
  content: " ";
  display: table;
}

#up_page_title {
  color: #003f60;
  line-height: 1.2em;
  vertical-align: bottom;
  font-family: Georgia,"Times New Roman",Times,sans-serif;
  background-color: #ededed;
  display: table-row;
  height: inherit;
  padding: 0 !important;
}

#up_logo_indicator {
  height: 20px;
  max-width: 100%;
  margin-bottom: 30px;
  background-color: #004260;
  font-size:14px;
 
}

#up_logo_image {
  padding: 0 15px;
  display: table-cell !important;
vertical-align: middle;
}

#up_logo_title {
  font-size: 1.5555em;
  line-height: 1.2em;
  display: table-cell !important;
  vertical-align: middle;
  color: #003f60;
}

#up_logo_footer {
  height: 30px;
}

#menu_wrapper {
  width: 1200px;
  max-width: 100%;
  min-width: 980px;
  margin: 0 auto;
}
