<!--<div id="featureListContainer">-->
<!--  <ng-container *ngIf="selectedCampus">-->
<!--    <h1>-->
<!--      {{ "page.campus-map.sites-at-this-campus" | translate }}-->
<!--      {{ selectedCampus.pretty_name }}-->
<!--    </h1>-->
<!--    <ion-scroll style="height: 90vh;" scrollY="true">-->
<!--      <ion-list id="featureList">-->
<!--        <ng-container *ngFor="let item of featuresAtCampus[selectedCampus.name]">-->
<!--          <ion-card (click)="item.geoJson.togglePopup()">-->
<!--            <ion-card-header>-->
<!--              <ion-card-title>-->
<!--                {{ item.feature.properties.title }}-->
<!--                <button ion-button-->

<!--                        (click)="toggleExpandItem(item)">-->
<!--                  <ion-icon [name]="!item.expanded ?-->
<!--                                      'arrow-dropright':-->
<!--                                      'arrow-dropdown'">-->
<!--                  </ion-icon>-->
<!--                </button>-->
<!--              </ion-card-title>-->
<!--            </ion-card-header>-->
<!--            <ion-card-content *ngIf="item.expanded">-->
<!--              <div [innerHTML]="item.feature.properties.description"></div>-->
<!--            </ion-card-content>-->
<!--          </ion-card>-->
<!--        </ng-container>-->
<!--      </ion-list>-->
<!--    </ion-scroll>-->
<!--  </ng-container>-->
<!--</div>-->
<div leaflet style="height: 600px;"
     (leafletMapReady)="onMapReady($event)"
     [leafletFitBounds]="fitBounds"
     [leafletLayersControlOptions]=""
     [leafletOptions]="options"
     [leafletLayersControl]="layersControl"></div>

