<div *ngIf="config.general.interactiveMode">
  <ion-segment [(ngModel)]="selectedNewsSourceId" (ngModelChange)="filterNews($event)">
    <ng-container *ngFor="let source of newsSources">
      <ion-segment-button [value]="source.id">
        {{ source.name }}
      </ion-segment-button>
    </ng-container>
  </ion-segment>
</div>

<div *ngIf="!config.general.interactiveMode" class="title">
    {{ selectedNewsSourceName }}
</div>

<ng-template #results let-news="items">
  <div class="news-container">
        <ng-container *ngFor="let n of news">
          <article [article]="n" [articleType]="'news'"></article>
        </ng-container>
  </div>
</ng-template>

<div id="newslist">
    <results [items]="filteredNews"
             [template]="results">
    </results>
</div>
