<div id="info-bar">
    <div *ngIf="config.footer.public_transport?.display">
        <ion-label style="font-size: 2em;">
            {{ "footer.next_departures" | translate }}:
        </ion-label>
        <ion-badge *ngFor="let conn of connections"
                   [class.cancelled]="conn.departure.cancelled">
          <ng-container *ngFor="let product of config.transport.meansOfTransport">
            <ion-icon *ngIf="conn.departure.Product.catOut.trim() == product.name"
                      [src]="'assets/icon/'+product.iconFileName"
                      class="badge-icon">
            </ion-icon>
          </ng-container>
          <span class="badge-text" >
            <b>
                {{ conn.departure.name }}
            </b>
            in
            {{ conn.minutesRemaining }} min.
          </span>
        </ion-badge>
    </div>

    <div *ngIf="config.footer.rooms_free?.display">
        <ion-label style="font-size: 2em;">
            {{ "footer.currently_free" | translate }}:
        </ion-label>
        <ion-badge *ngFor="let room of rooms">
            <span class="badge-text">
                {{ room | roomName }}
            </span>
        </ion-badge>
    </div>

    <div *ngIf="config.footer.running_text?.display" class="marquee">
        <p [style.animation]="'marquee '+(config.footer.running_text.speed ? config.footer.running_text.speed : 15)+'s linear infinite'">
          <ion-icon *ngIf="config.footer.running_text.icon_before" [name]="config.footer.running_text.icon_before"></ion-icon>
          {{ config.footer.running_text.textI18nKey | translate }}
          <ion-icon *ngIf="config.footer.running_text.icon_after" [name]="config.footer.running_text.icon_after"></ion-icon>
        </p>
    </div>
</div>
