<div id="categories">
  <div class="category"
       *ngFor="let category of categories">
    <button
      ion-button
      [color]="category == selectedCategory ? 'primary' : 'secondary'"
      (click)="selectCategory(category)">
        {{ category }}
    </button>
  </div>
</div>

<ng-template #results let-articles="items">
  <div class="news-container">
    <ng-container *ngFor="let article of articles">
      <news-article class="article" [article]="article"></news-article>
    </ng-container>
  </div>
</ng-template>

<div id="newslist">
  <div [ngSwitch]="selectedCategory">
    <ng-container *ngFor="let category of categories">
      <ng-container *ngSwitchCase="category">
        <results [items]="news[category]" [template]="results"></results>
      </ng-container>
    </ng-container>
  </div>
</div>


