.stripe {
  height: 10%;
  background-color: var(--ion-color-primary);
}

#header_wrapper {
  background-color: var(--ion-color-upgrey);
  display: flex;
  height: 20%;
  #logo {
    margin: 1%;
    width: 5%;
  }

  .title {
    white-space: nowrap;
    font-size: 2em;
    width: 50%;
    font-family: Georgia,"Times New Roman",Times,sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--ion-color-primary)
  }
}

.header_text {
  font-size: 3em;
}

#info_wrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;

  #location {
    white-space: nowrap;
    padding: 1%;
    color: var(--ion-color-primary);
    background-color: var(--ion-color-upgrey);
    font-weight: bold;
  }

  #time {
    padding: 1%;
    font-weight: bold;
  }
}

.no-wrap {
  white-space: nowrap;
}

#menu {
  margin: auto;
}

#content-wrapper {
  margin: auto;
}
