<ion-header>
  <ion-toolbar>
    <div id="header_wrapper">

      <div id="logo_wrapper">
        <div id="banner"></div>
        <div id="logo_image">
          <img src="assets/imgs/logo_uni_potsdam.svg">
        </div>
      </div>

      <div id="info_wrapper" align="right">
        <div id="building_name">
          {{ "words.campus" | translate }} {{ config.general.location.campus_name }}
          <br>
          {{ "words.building" | translate }} {{ config.general.location.building }}
        </div>

        <div id="time">
          {{ timer.now | async }}
        </div>
      </div>
    </div>

    <app-menu (touched)="timer.startTimeout()"></app-menu>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div [style.width]="landscape ? config.general.layout.content_width_landscape : '100%'">
    <div *ngFor="let p of pages" [style.display]="p.selected ? 'block' : 'none'">
      <ndc-dynamic [ndcDynamicComponent]="p.component"
                   [ndcDynamicInputs]="p.inputs">
      </ndc-dynamic>
    </div>
  </div>
</ion-content>
