<ion-list>
  <ion-item>
    <label>
      {{ 'page.settings.choose_language' | translate }}
    </label>
    <ion-select [(ngModel)]="language"
                (ngModelChange)="languageChanged($event)"
                [placeholder]="'page.settings.language.'+config.settings.languages[0] | translate">
      <ng-container *ngFor="let lang of config.settings.languages">
        <ion-option [value]="lang">
          {{ 'page.settings.language.'+lang | translate }}
        </ion-option>
      </ng-container>
    </ion-select>
  </ion-item>
</ion-list>
