<ng-template #results let-deps="items">
  <h1>
    {{ "page.transport.departures_from" | translate }} {{ station }}
  </h1>
  <ion-list>
    <ion-item *ngFor="let dep of deps">
      <ion-avatar item-start *ngIf="dep.Product['catOut']">
        <ion-icon *ngIf="dep.Product.catOut.trim() == 'RB'"
                  name="custom-bahn"
                  style="zoom:2.0;">
        </ion-icon>
        <ion-icon *ngIf="dep.Product.catOut.trim() == 'S'"
                  name="custom-sbahn"
                  style="zoom:2.0;">
        </ion-icon>
        <ion-icon *ngIf="dep.Product.catOut.trim() == 'Bus'"
                  name="custom-bus"
                  style="zoom:2.0;">
        </ion-icon>
      </ion-avatar>
      <h2 *ngIf="dep.name">{{ dep.name }}</h2>
      <p *ngIf="dep.direction">
        {{ dep.direction }}
        <span *ngIf="dep.track && !dep.rtTrack">
          , {{ "page.transport.track" | translate }}: {{ dep.track }}
        </span>
        <span *ngIf="dep.track && dep.rtTrack">
          , {{ "page.transport.track" | translate }}: {{ dep.rtTrack }}
        </span>
      </p>
      <ion-badge *ngIf="!dep.cancelled" style="font-weight: 300;" item-end>
        {{ moment(dep.time, "HH:mm:ss").format("HH:mm") }}
      </ion-badge>
      <ion-badge *ngIf="dep.cancelled" item-end class="cancelled">
        {{ "page.transport.cancelled" | translate }}
      </ion-badge>
    </ion-item>
  </ion-list>
</ng-template>

<results [items]="departures" [template]="results"></results>
